@charset "utf-8";
@import "publicMixin";
.zczExLeft{
	width: 340px*$xPro+8px;
	height:100%;
	float:left;
	@include box-sizing;
	border-right:2px solid #435371;
	@include bgColor(left top, #2e3965 , #265482);
	.zczExZtreeTitle{
		@extend .extendTitle_smoll;
	}
	.ztree {
        @include calcM(61px*$yPro,height);
        display: none;
        @include box-sizing;
    }
    .ztreeBlock {
        display: block;
		overflow-y: auto;
    }
}
.zczExRight{
	@include calcM(340px*$xPro+8px,width);
	height:100%;
	float:left;
	@include bgColor(left top, #2e426b ,#2c6187, #153e74);
	padding:21px*$yPro 16px*$xPro 24px*$yPro 29px*$xPro;
    @include box-sizing;
	.zczExTop {
	    height: 301px*$yPro;
	    margin-bottom:24px*$yPro;
	    &>div {
	        height: 301px*$yPro;
            float: left;
            @include box-sizing;
            border:2px solid #4e6b84;
            background-color:#213f68;
            position:relative;
	    }
	    .zczEB{
	    	width:473px*$xPro;
	    	padding:19px*$yPro 15px*$xPro 19px*$yPro 16px*$xPro;
	    	margin-right:13px*$xPro;
	    	.zczExVideoBox {
		        @include box-sizing;
		        position:relative;
		        background-color:#000;
		        width:100%;
		        height:100%;
		        img {
		            position:absolute;
					left:0;
					top:0;
					right:0;
					bottom:0;
					margin:auto;
		        }
		    }
		    &:before{
            	content:"实时场景";
            	position:absolute;
            	left:10px*$xPro;
            	top:-13px*$yPro;
            	font-size:16px*$yPro;
            	background-color:#213f68;
            }
	    }
	    .zczEvCarBox {
	        @include box-sizing;
	        padding: 19px*$yPro 10px*$xPro 23px*$yPro 12px*$yPro;
	        @include calcM(486px*$xPro,width);
	        .zczEvPicDetails {
	            height: 100%;
	            dt {
	                width: 233px*$xPro;
	                height: 100%;
	                float: left;
	                margin-right: 23px*$xPro;
	                position:relative;
            		background-color:#000;
            		@include box-sizing;
            		border:2px solid #6f7b84;
	                img {
	                    position:absolute;
						left:0;
						top:0;
						right:0;
						bottom:0;
						margin:auto;
	                }
	            }
	            dd {
	                float: left;
	                @include calcM(256px*$xPro,width);
	                height:100%;
	                overflow-y:auto;
	                box-sizing: border-box;
    				padding: 0 0 10px 0;
	                .zczEvPicContent {
	                    overflow: hidden;
	                    li {
	                        width: 50%;
	                        height: 30px*$yPro;
	                        float: left;
	                        &>div {
	                            float: left;
	                            @include box-sizing;
	                            border-right: 1px solid #6f7b84;
	                            border-bottom: 1px solid #6f7b84;
	                            text-align: center;
	                            height: 30px*$yPro;
	                            line-height: 30px*$yPro;
	                            width: 50%;
	                        }
	                        &:nth-child(2n-1)>div:first-child{
	                        	border-left: 1px solid #6f7b84;
	                        }
	                        &:nth-child(1)>div,&:nth-child(2)>div{
	                        	border-top: 1px solid #6f7b84;
	                        }
	                        &>div:last-child {
	                            color: #45af3d;
	                        }
	                    }
	                }
	            }
	        }
	        &:before{
            	content:"监拍信息";
            	position:absolute;
            	left:10px*$xPro;
            	top:-13px*$yPro;
            	font-size:16px*$yPro;
            	background-color:#213f68;
            }
	    }
	}
	
	.zczExBottom {
	    @include calcM(325px*$yPro,height);
	    @include box-sizing;
	    padding: 19px*$yPro 0 0 16px*$xPro;
	    border:2px solid #4e6b84;
        background-color:#213f68;
        position:relative;
        h2{
        	height:32px*$yPro;
        	line-height:32px*$yPro;
        	font-size:14px*$yPro;
        }
	    .zczExSmollImgList,.zczExBigImgList {
	        overflow: hidden;
	        padding-bottom: 5px*$yPro;
	        margin-bottom:10px*$yPro;
	        li {
	            width: 88px;
	            height: 107px*$yPro;
	            float: left;
	            margin-right: 10px*$xPro;
	            position:relative;
	            background-color:#000;
	            @include box-sizing;
	            border:1px solid #6d6d6e;
	            img {
	                position:absolute;
					left:0;
					top:0;
					right:0;
					bottom:0;
					margin:auto;
	            }
	        }
	    }
	    &:before{
        	content:"实时监拍";
        	position:absolute;
        	left:10px*$xPro;
        	top:-13px*$yPro;
        	font-size:16px*$yPro;
        	background-color:#213f68;
        }
	}
}
.borderBottom {
  border-bottom: 1px solid #464646;
}